<div class="card h-100 mb-3">
    <div class="card-body">
        <h4 class="card-title">
            <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h4>
        
        <p class="card-text">In: <i>{{ post.journal }}</i></p>

        <p class="card-text">{{ post.excerpt | strip_html | truncatewords:150 }}</p>
    </div>

    <div class="card-footer bg-white">
            <span class="post-date float-start">{{ post.date | date_to_string }}</span>
            {% if post.pdf %}
                <span class="post-url float-end"><a href={{ post.pdf }} target="_blank">Download PDF</a></span>
            {% endif %}
            <div class="clearfix"></div>
    </div>

</div>
